.box {
	display: flex;
	padding: 1%;
	margin: 1%;
	width: 25%;
	background: #009578;
	border-radius: 5px;
	font-family: sans-serif;

}

.column {
	flex: 1;
}

.title {
	margin-bottom: 20px;
	font-size: 30px;
	color: white;
	user-select:none;
	
}

.input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: white;
	border-radius: 5px;
	cursor: pointer;	
}
.dropzone {
	height: 60px;
	transition: background 0.15s, height 0.15s;
}

.logo {
	max-width: 10%;
	padding: 1%;
}

.header .container-header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column-1 {
	
	display: flex;
	align-items: center;
	

}